:root {
    --colour-accent: #2196f3;
    --colour-button-hover: #188ce8;
    --colour-white-background: #ffffff;
    --colour-white-background-main: #e5e5e5;
    --colour-white-background-people: #f5f4fa;
    --colour-dark-background: #2f303a;
    --colour-white-text: #ffffff;
    --colour-dark-text: #212121;
    --colour-gray-text: #757575;
    --colour-logo: #000000;
    --colour-border-logo: #ececec;
    --colour-decoration-card: #eeeeee;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--colour-dark-text);
    background-color: var(--colour-white-background);
}

/* ================GENERAL CLASSES==================== */

.mark {
    list-style: none;
}

.underline {
    text-decoration: none;
    font-style: normal;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.nav-list .nav-link.current {
    color: var(--colour-button-hover);
}

.list-filter .btn.current {
    background-color: var(--colour-accent);
    color: var(--colour-white-background);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 1px solid tomato; */
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* ================/GENERAL CLASSES===================== */

/* ================HEADER==================== */
.page-header {
    background-color: var(--colour-white-background);
    border-bottom: 1px solid var(--colour-border-logo);
}

.page-header > .container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: var(--colour-logo);
    margin-right: 93px;
}

.first-word {
    color: var(--colour-accent);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--colour-accent);
}

.nav-list {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
}

.contact-item:not(:last-child) {
    margin-right: 50px;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--colour-accent);
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--colour-gray-text);
}

/* ================/HEADER==================== */

/* ================MAIN==================== */

/* section 1 */
.hero-content {
    padding-top: 200px;
    padding-bottom: 200px;
}

.text-hero {
    margin-bottom: 30px;
    width: 694px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--colour-white-background);
}

.modal-btn {
    display: block;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    letter-spacing: 0.06em;
    border: none;
    color: var(--colour-white-text);
    background-color: var(--colour-button-hover);
}

.hero-content,
.page-footer {
    background-color: var(--colour-dark-background);
}

.modal-btn:hover,
.modal-btn:focus {
    color: var(--colour-white-text);
    background-color: var(--colour-accent);
}

/* section 2 */

.list-benefits {
    display: flex;
}

.benefits-item {
    flex-basis: calc((100% - (3 * 30px)) / 4);
}

.benefits-item:not(:last-child) {
    margin-right: 30px;
}

.benefits-title {
    margin-bottom: 10px;

    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-text {
    line-height: 1.71;
    color: var(--colour-gray-text);
}

/* section 3  */
.presentation-content {
    padding-top: 0px;
}

.title-content {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.list-presentation {
    display: flex;
}

.item-presentation:not(:last-child) {
    margin-right: 30px;
}

/* section 4 */

.comand-content {
    background-color: #f5f4fa;
}

.list-comand {
    display: flex;
}

.item-comand {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--colour-white-background);
}

.item-comand:not(:last-child) {
    margin-right: 30px;
}

.decoration {
    padding-top: 30px;
    padding-bottom: 30px;
}

.name-comand {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.text-prof {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--colour-gray-text);
}

/* ================/MAIN==================== */

/* ================FUTER==================== */
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--colour-white-text);
}

.link-address {
    font-weight: 400;
    line-height: 1.71;
    color: var(--colour-white-background);
}

.list-contact:not(:last-child) {
    display: block;
    margin-bottom: 9px;
}

/* ================/FUTER==================== */

/* ================MAIN PORTFOLIO==================== */

.list-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.item-filter:not(:last-child) {
    margin-right: 8px;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    background-color: var(--colour-white-background-people);
}

.btn:hover,
.btn:focus {
    color: var(--colour-white-background);
    background-color: var(--colour-accent);
}

/* table */
.nav-link,
.link-work:visited {
    color: var(--colour-dark-text);
}

.list-work {
    display: flex;
    flex-wrap: wrap;
}
.item-work {
    flex-basis: calc((100% - (2 * 30px)) / 3);
}

.item-work:not(:nth-child(3n)) {
    margin-right: 30px;
}

.item-work:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.decoration-card {
    padding: 20px 24px;
    background-color: var(--colour-decoration-card);
    border: 1px solid #eeeeee;
}

.title-portfolio {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-portfolio {
    font-size: 16px;
    line-height: 1.88;
    color: var(--colour-gray-text);
}

/* ================/MAIN PORTFOLIO==================== */
