:root {
    --colour-accent: #2196f3;
    --colour-button-hover: #188ce8;
    --colour-white-background: #ffffff;
    --colour-white-background-main: #e5e5e5;
    --colour-white-background-people: #f5f4fa;
    --colour-dark-background: #2f303a;
    --colour-white-text: #ffffff;
    --colour-dark-text: #212121;
    --colour-gray-text: #757575;
    --colour-logo: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--colour-dark-text);
    background-color: var(--colour-white-background-main);
}

/* ================GENERAL CLASSES==================== */

.mark {
    list-style: none;
}

.underline {
    text-decoration: none;
    font-style: normal;
}

.nav-list .nav-link.current {
    color: var(--colour-button-hover);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    outline: 1px solid tomato;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 
}

img {
    display: block;
}

button {
    cursor: pointer;
}


/* ================/GENERAL CLASSES==================== */

/* ================HEADER==================== */
.page-header {
    background-color: var(--colour-white-text);
}

.page-container {
    display: flex;
    align-items: center;

}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: var(--colour-logo);
    margin-right: 93px;
}

.first-word {
    color: var(--colour-accent);
}



.nav-link:hover,
.nav-link:focus {
    color: var(--colour-accent);
}

.nav-list {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
}

.contact-item,
.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-item {
    padding-top: 32px;
    padding-bottom: 32px;
}



.contact-link:hover,
.contact-link:focus {
    color: var(--colour-accent);
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--colour-gray-text);
}

/* ================/HEADER==================== */

/* ================MAIN==================== */

.hero-container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.text-hero {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--colour-white-background);
}

.modal-btn {
    display: block;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    letter-spacing: 0.06em;
    border: none;
    color: var(--colour-white-text);
    background-color: var(--colour-button-hover);
}

.hero-content,
.page-footer {
    background-color: var(--colour-dark-background);
}

.modal-btn:hover,
.modal-btn:focus {
    color: var(--colour-white-text);
    background-color: var(--colour-accent);
}

.list-benefits {
    display: flex;
    flex-basis: calc((100%-3*30)/4);
}

.benefits-title {
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-text {
    line-height: 1.71;
    color: var(--colour-gray-text);
}

.title-content {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.comand-content {
    background-color: var(--colour-white-background-people);
}

.name-comand {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.text-prof {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--colour-gray-text);
}

/* ================/MAIN==================== */

/* ================FUTER==================== */

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--colour-white-text);
}

.link-address {
    font-weight: 400;
    line-height: 1.71;
    color: var(--colour-white-background);
}

/* ================/FUTER==================== */

/* ================MAIN PORTFOLIO==================== */

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    background-color: var(--colour-white-background-people);
}

.btn:hover,
.btn:focus {
    color: var(--colour-white-background);
    background-color: var(--colour-accent);
}

.nav-link,
.link-work:visited {
    color: var(--colour-dark-text);
}

.title-portfolio {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-portfolio {
    font-size: 16px;
    line-height: 1.88;
    color: var(--colour-gray-text);
}

/* ================/MAIN PORTFOLIO==================== */
